.callback-form {
  background-image: url(../img/callback.png);
  background-repeat: no-repeat;
  background-position: 140px 335px;
  padding: 160px 0;
}

.callback-form__title {
  font-size: 48px;
  line-height: 72px;
  text-align: center;
}

.callback-form__form {
  width: 44%;
  margin-left: 50%;
  border: none;
  margin-top: 145px;
}

.callback-form__legend {
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  width: 100%;
}

.callback-form__fieldset {
  border: none;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-top: 35px;
  padding-left: 5px;
  padding-bottom: 15px;
}

.callback-form__input {
  border-radius: 10px;
  font-size: 15px;
  line-height: 24px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: 10px 0;
  padding: 8px 14px;
}
.callback-form__input--name {
  width: 65%;
}

.callback-form__input--surname {
  position: absolute;
  right: 10px;
  width: 42%;
}
.callback-form__input--email {
  width: 100%;
}

.callback-form__input--number {
  width: 100%;
}

.callback-form__note {
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  color: rgba(0, 0, 0, 0.47);
}

.callback-form__button {
  font-size: 15px;
  line-height: 18px;
  display: block;
  width: 100%;
  background-color: @main-blue;
  padding: 10px 0;
  border: none;
  border-radius: 10px;
  color: @basic-white;
  letter-spacing: 0.015em;
}
