.footer {
    padding: 0 40px;
}

.footer__top {
    display: flex;
    align-items: baseline;
    justify-content: space-between
}

.footer__bottom {
    display:flex;
    justify-content: space-between
}

.footer__list {
    .list-clean();
    text-transform: uppercase;
}

.footer__logo {
    margin: auto 0;
}

.footer__links {
    display: flex;
    gap: 20px;
    align-items: baseline;
}