.intro {
  background-image: url(../img/intro.png);
  padding-top: 10px;
  padding-left: 60px;
  padding-bottom: 250px;
}

.intro__title {
  font-size: 48px;
  line-height: 80px;
  color: @basic-white;
  letter-spacing: -0.015em;
  margin-bottom: 56px;
}

.intro__button {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  display: inline-block;
  background-color: @basic-white;
  color: @main-blue;
  padding: 15px 17px;
  border: 1px solid @basic-white;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
